body {
  margin: 0;
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: top/contain repeat url(./assets/pattern.png) #004550;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: #fff;
}

@media only screen and (max-width: 700px) {
  body {
    margin-top: 0.4rem;
  }
}

.wrapper {
  max-width: 1920px;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 22%;
}

@media only screen and (max-width: 1300px) {
  main {
    padding: 0 15%;
  }
}

header {
  width: 100%;
}

.header-block {
  background-color: #004550;
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
  flex-wrap: nowrap;
  margin-bottom: 1.8rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #00E296;
}

@media only screen and (max-width: 1300px) {
  .header-block {
    font-size: 1.4rem;
    padding: 0 2%;
  }
}

@media only screen and (max-width: 700px) {
  .header-block {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
  }
}

@media only screen and (max-width: 1600px) {
  .text-block:nth-last-child(-n + 2) {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .text-block:nth-last-child(-n + 6) {
    display: none;
  }
}

.number-block {
  color: #93EA20;
}

.video-block {
  margin-bottom: 1.2rem;
  padding-bottom: 56.25%;
  /* 16:9 */
  position: relative;
  height: 0;
}

.video-block iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.buttons-block {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 1.2rem 0;
  align-items: center;
  background: center/contain no-repeat url(./assets/Veeam_radio_logo.svg);
  margin-bottom: 28px;
}

@media only screen and (max-width: 1300px) {
  .buttons-block {
    padding: 1.2rem 0;
  }
}

@media only screen and (max-width: 780px) {
  .buttons-block {
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 650px) {
  .buttons-block {
    flex-direction: column;
    height: 12rem;
    background-size: 140px;
  }
}

.button {
  width: 382px;
  width: 20%;
  padding: 2%;
  background-color: #00E296;
  color: #004550;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 900;
  font-size: 1.1rem;
  transition: 0.5s;
}

.button:hover {
  filter: brightness(90%);
  color: #fff;
}

.button:active {
  background-color: #93EA20;
  color: #004550;
}

@media only screen and (max-width: 1300px) {
  .button {
    width: 25%;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 780px) {
  .button {
    font-size: 0.7rem;
    width: 25%;
  }
}

@media only screen and (max-width: 650px) {
  .button {
    width: 100%;
  }
}

.tip-block {
  position: absolute;
  top: 105%;
  left: 0;
  right: 0;
  z-index: -10;
  background-color: #93EA20;
  color: #004550;
  opacity: 0;
  height: 0;
  padding: 0;
}

.tip-block.open {
  opacity: 1;
  height: auto;
  z-index: 10;
  padding: 2% 4%;
  padding-right: 10%;
}

@media only screen and (max-width: 650px) {
  .tip-block {
    font-size: 0.8rem;
    top: 101%;
  }
}

.tip-block::before {
  position: absolute;
  z-index: -10;
  top: 0;
  right: 10%;
  content: "";
  height: 4rem;
  width: 4rem;
  transform: rotate(45deg);
  background-color: #93EA20;
}

@media only screen and (max-width: 650px) {
  .tip-block::before {
    right: 50%;
    transform: translateX(50%) rotate(45deg);
  }
}

.close-elem {
  position: absolute;
  content: "";
  background: center/contain url(./assets/close.svg);
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  right: 1rem;
  top: 1rem;
}

.close-elem:hover {
  transform: scale(1.1);
}

.close-elem:active {
  transform: scale(1);
}

.tip-block__text {
  margin-bottom: 1rem;
}

.tip-block__text:last-child {
  margin-bottom: 0;
}

.chat-block {
  width: 100%;
  height: 678px;
  background-color: #004550;
  filter: brightness(90%);
  margin-bottom: 2rem;
}

.girl-block {
  height: 24rem;
  background: center bottom/contain no-repeat url(./assets/veeam_girl.svg);
}

@media only screen and (max-width: 1300px) {
  .girl-block {
    height: 16rem;
  }
}

@media only screen and (max-width: 700px) {
  .girl-block {
    height: 8rem;
  }
}
