html {

  // font-size: 14px;
}
body {
  margin: 0;
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: top / contain repeat url(./assets/pattern.png) $secondary;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: #fff;
  @media only screen and (max-width: 700px) {
    margin-top: 0.4rem;
  }
}
.wrapper {
  max-width: 1920px;
  width: 100%;
}
main {
  display: flex;
  flex-direction: column;
  padding: 0 22%;
  @media only screen and (max-width: 1300px) {
    padding: 0 15%;
  }
}
header {
  width: 100%;
}
.header-block {
  background-color: $secondary;
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
  flex-wrap: nowrap;
  margin-bottom: 1.8rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  color: $tertiary;

  @media only screen and (max-width: 1300px) {
    font-size: 1.4rem;
    padding: 0 2%;
  }
  @media only screen and (max-width: 700px) {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
  }
}

.text-block {
  @media only screen and (max-width: 1600px) {
    &:nth-last-child(-n + 2) {
      display: none;
    }
  }
  @media only screen and (max-width: 1300px) {
    // &:nth-last-child(-n + 4) {
    //   display: none;
    // }
  }
  @media only screen and (max-width: 700px) {
    &:nth-last-child(-n + 6) {
      display: none;
    }
  }
}
.number-block {
  color: $primary;
}

.video-block {
  margin-bottom: 1.2rem;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
  height: 0;
  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.buttons-block {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 0;
  align-items: center;
  background: center/contain no-repeat url(./assets/Veeam_radio_logo.svg);
  margin-bottom: 28px;

  @media only screen and (max-width: 1300px) {
    padding: 1.2rem 0;
  }
  @media only screen and (max-width: 780px) {
    padding: 1rem 0;
  }

  @media only screen and (max-width: 650px) {
    flex-direction: column;
    height: 12rem;
    background-size: 140px;
  }
}

.button {
  width: 382px;
  width: 20%;
  padding: 2%;
  background-color: $tertiary;
  color: $secondary;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 900;
  font-size: 1.1rem;
  &:hover {
    filter: brightness(90%);
  }
  &:active {
    filter: brightness(80%);
  }

  @media only screen and (max-width: 1300px) {
    width: 25%;
    font-size: 0.9rem;
  }
  @media only screen and (max-width: 780px) {
    font-size: 0.7rem;
    width: 25%;
  }
  @media only screen and (max-width: 650px) {
    width: 100%;
  }
}

.chat-block {
  width: 100%;
  height: 678px;
  background-color: $secondary;
  filter: brightness(90%);
  margin-bottom: 2rem;
}
.girl-block {
  height: 24rem;
  background: center bottom/ contain no-repeat url(./assets/veeam_girl.svg);
  @media only screen and (max-width: 1300px) {
    height: 16rem;
  }
  @media only screen and (max-width: 700px) {
    height: 8rem;
    
  }
}
