body {
  margin: 0;
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: top / contain repeat url(https://it-events.com/system/attachments/files/000/002/232/original/pattern.png) $secondary;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: #fff;

  @media only screen and (max-width: 1300px) {
    margin-top: 0.4rem;
  }
  @media only screen and (max-width: 700px) {
    margin-top: 0.4rem;
  }
}
.wrapper {
  max-width: 1920px;
  width: 100%;
}
main {
  display: flex;
  flex-direction: column;
  padding: 0 22%;
  @media only screen and (max-width: 1300px) {
    padding: 0 20%;
  }
  @media only screen and (max-width: 700px) {
    padding: 0 5%;
  }
}
header {
  width: 100%;
}
.header-block {
  background-color: $secondary;
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
  flex-wrap: nowrap;
  margin-bottom: 1.8rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  color: $tertiary;

  @media only screen and (max-width: 1300px) {
    font-size: 1.4rem;
    padding: 0 2%;
    margin-bottom: 0.6rem;
  }
  @media only screen and (max-width: 700px) {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
  }
}

.text-block {
  @media only screen and (max-width: 1600px) {
    &:nth-last-child(-n + 2) {
      display: none;
    }
  }
  @media only screen and (max-width: 1300px) {
    // &:nth-last-child(-n + 4) {
    //   display: none;
    // }
  }
  @media only screen and (max-width: 700px) {
    &:nth-last-child(-n + 6) {
      display: none;
    }
  }
}
.number-block {
  color: $primary;
}

.video-block {
  margin-bottom: 1rem;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
  height: 0;
  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.buttons-block {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 1.2rem 0;
  align-items: center;
  background: center/contain no-repeat url(https://it-events.com/system/attachments/files/000/002/231/original/Veeam_radio_logo_.svg);
  margin-bottom: 28px;

  @media only screen and (max-width: 1300px) {
    padding: 0.8rem 0;
    margin-bottom: 1rem;
  }


  @media only screen and (max-width: 650px) {
    flex-direction: column;
    height: 6rem;
    background: none;
  }
}

.button {
  width: 382px;
  width: 20%;
  padding: 2%;
  background-color: $tertiary;
  color: $secondary;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 900;
  font-size: 1.1rem;
  transition: 0.5s;
  &:hover {
    filter: brightness(90%);
    color: #fff;
  }
  &:active {
    background-color: $primary;
    color: $secondary;
  }

  @media only screen and (max-width: 1300px) {
    width: 25%;
    font-size: 0.8rem;
  }
  @media only screen and (max-width: 780px) {
    font-size: 0.7rem;
    width: 25%;
  }
  @media only screen and (max-width: 650px) {
    width: 100%;
    padding: 0.7rem;
    box-sizing: border-box;
  }
}

.tip-block {
  position: absolute;
  top: 105%;
  left: 0;
  right: 0;
  z-index: -10;
  background-color: $primary;
  color: $secondary;
  opacity: 0;
  height: 0;
  padding: 0;

  &.open {
    opacity: 1;
    height: auto;
    z-index: 10;
    padding: 2% 4%;
    padding-right: 10%;
  }

  @media only screen and (max-width: 650px) {
    font-size: 0.8rem;
    top: 101%;
  }

  &::before {
    position: absolute;
    z-index: -10;
    top: 0;
    right: 10%;
    content: "";
    height: 4rem;
    width: 4rem;
    transform: rotate(45deg);
    background-color: $primary;
    @media only screen and (max-width: 650px) {
      right: 50%;
      transform: translateX(50%) rotate(45deg);
    }
  }
}

.close-elem {
  position: absolute;
  content: "";
  background: center/contain url(https://it-events.com/system/attachments/files/000/002/229/original/close_.svg);
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  right: 1rem;
  top: 1rem;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1);
  }
}

.tip-block__text {
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.chat-block {
  width: 100%;
  height: 678px;
  background-color: $secondary;
  filter: brightness(90%);
  margin-bottom: 2rem;
}

.chatbro {
  width: 100%;
  margin-bottom: 2rem;
}

.girl-block {
  height: 24rem;
  background: center bottom/ contain no-repeat url(https://it-events.com/system/attachments/files/000/002/230/original/veeam_girl_.svg);
  @media only screen and (max-width: 1300px) {
    height: 16rem;
  }
  @media only screen and (max-width: 700px) {
    height: 8rem;
  }
}
